################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/vendor/SDL/sdl_headers_copy.vcxproj
/build/vendor/SDL/sdl_headers_copy.vcxproj.filters
/build/vendor/SDL/SDL2main.vcxproj
/build/vendor/SDL/SDL2main.vcxproj.filters
/build/vendor/SDL/SDL2-static.vcxproj
/build/vendor/SDL/SDL2-static.vcxproj.filters
/build/vendor/spdlog/spdlog.vcxproj
/build/vendor/spdlog/spdlog.vcxproj.filters
/.vs
/bin
/build
/clean.bat
/generate.bat
